{% extends "/pages/base.html.jinja" %}
{% block header %}Welcome to Sturmbaum{%
endblock %}
{% block content %}
<div>
    <p>Hello Doog</p>
    <div id="doogle"></div>
</div>
<script src="{{ url_for('static', filename='dist/bundle.js')}}"></script>
{% endblock %}